@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.body{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global Style */

.display-flex{
    display: flex;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */

.header{
    justify-content: space-between;
}

.hero-container{
    background-color: rgba(255, 144, 13, 0.1);
}